@charset "utf-8";

/* 基本 */
body {
  font-family: sans-serif;
}
.editor-post-title__input {
  font-family: inherit;
}
.block-editor-block-list__block[data-type="core/paragraph"] p {
  line-height: 2;
}
.wp-block {
  max-width: calc(760px + 30px);
}










/* [.wp-block] に相当するブロックが見つからない*/
